.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tiempo_glb {
    display: flex;
}

.tiempo2 {
    padding: 50px;
}

.logo-container {
    position: relative;
    padding: 20px;
}

#logo {
    width: 100px;
    /* Tamaño inicial del logotipo */
    transition: transform 0.3s;
    /* Agregamos una transición suave */
}

#logo:hover {
    transform: scale(1.2);
    /* Escalamos el logotipo al 120% cuando el mouse está sobre él */
}
