#contacto-glb {
    justify-content: center;
    display: flex;
}

.contacto-select {
    background-color: white;
    width: 70%;
    height: 30%;
    margin: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 7px 13px 37px #000;
    text-align: center;
}


.contacto-select a {
    background-color: rgb(218, 156, 41);
    color: rgba(0, 0, 0, 0.744);
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 50px;
    border: 100px;
    text-decoration: none;
}

.contacto-select a:hover {
    text-decoration: underline;
}

.contac-info-2 {
    padding: 0px 0px 20px;
}

.giro-leve {
    transition: transform 0.3s ease;
}

.giro-leve:hover {
    transform: rotate(360deg);
}

.zooming-text {
    font-size: 16px;
    transition: transform 0.3s ease;
}

.zooming-text:hover {
    transform: scale(1.2);
}