* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.pedir {
  display: flex;
  justify-content: center;
}

#pizza {
  width: 400px;
  height:300px;
  padding-bottom: 20px;
}

.info {
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  width: 400px;
  height: 400px;
}
.pedir h3{
  padding-bottom: 10px;
}

.registro-glb {
  padding: 50px;
}

.registro-glb h3{
  color: brown;
}

.registro {
  border: 1px solid gray;
  padding: 20px;
}

.type {
  width: 100%;
  margin: 10px 0;
  padding: 10px 0px 10px 10px;
}

#descripcion {
  padding-bottom: 150px;
}

button {
  background-color: rgb(37, 189, 37);
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: 0;
}

footer {
  background-color: green;
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
}

.parrafos {
  color: white;
  padding: 10px;
}

.social-logos {
  display: flex;
  gap: 20px;
}

.rotate-on-hover {
  transition: transform 0.3s ease;
  width: 30px;
  height: 30px;
  padding: 10px;
}

.rotate-on-hover:hover {
  transform: rotate(360deg);
}